{% extends "base.html" %}

{% block content %}

<div class="container py-5">

    <div class="row justify-content-center">

        <div class="col-md-5">

            <div class="card shadow p-4">

                <h2 class="text-center mb-4">Member Login</h2>

                <form action="/login" method="POST">

                    <div class="mb-3">
                        <label class="form-label">Email Address</label>
                        <input type="email" name="email" class="form-control" placeholder="Enter your email">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" placeholder="Enter your password">
                    </div>

                    <div class="d-grid">
                        <button  type="submit">
                            Login
                        </button>
                    </div>

                    <p class="text-center mt-3">
                        Don't have an account?
                        <a href="/register">Register Here</a>
                        <br>
                        Or
                        <br>
                        <a href="/">Back to home</a>
                    </p>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}