{% extends "base.html" %}

{% block content %}

<div class="container py-5">

    <h2 class="text-center mb-4">
        Contact Messages
    </h2>

    <table class="table table-bordered table-hover">

        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Subject</th>
                <th>Message</th>
                <th>Date</th>
            </tr>
        </thead>

        <tbody>

        {% for message in messages %}

            <tr>
                <td>{{ message[0] }}</td>
                <td>{{ message[1] }}</td>
                <td>{{ message[2] }}</td>
                <td>{{ message[3] }}</td>
                <td>{{ message[4] }}</td>
                <td>{{ message[5] }}</td>
            </tr>

        {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}